body {
    background-color: rgb(37, 35, 35);
    margin: 0;
    padding: 0;
}
body{
    color: white;
    font-family: Arial;
    font-weight: bold;
}
.titulo{
    text-align: center;
}
.subtit{
    text-align: center;
}
.formulario{
    text-align: center;
}
.pies{
    text-align: center;
}
.pie-contac{
    text-align: center;
}